<% if current_user.admin? %>
  <div class="container">
    <br>
    <h1>Manage Training</h1>
    <hr>
    <%= render "owner_index", trainings: @trainings %>
  </div>
  <br>
<% else %>
  <div class="container">
    <br>
    <h1>My Training</h1>
    <hr>
    <%= render "applicant_index", trainings: @trainings %>
  </div>
<% end %>
