<h4>My Franchises</h4>
<ul>
  <% @profile.user.franchises.each do |franchise| %>
    <li><%= link_to "#{franchise.name}", franchise_path(franchise) %></li>
  <% end %>
</ul>

<h4>My Partners</h4>
<ul>
</ul>
