<h1>Manage Applicants</h1>
<%= link_to "Create", new_profile_path %>
<br>
<table>
  <tr>
    <th>S/N</th>
    <th>Applicant</th>
    <th>Verified Companies</th>
    <th>Partner Status</th>
    <th>Action</th>
  </tr>
  <% if @profiles.any? %>
    <% @profiles.each do |profile| %>
    <tr>
      <% if profile.id != 1 %>
        <td><%= profile.id - 1 %>.</td>
        <td><%= link_to "#{profile.first_name}", profile_path(profile) %></td>
        <td>0/<%= profile.company_profile.count %></td>
      <% end %>
      <br>
    </tr>
    <% end %>
  <% else %>
    <p>No profiles yet.</p>
  <% end %>
  <br>
</table>
