<% if (params[:success]) %>
  <div class="alert alert-success" role="alert">
    Congratulations! You have successfully completed the quiz.
  </div>
<% elsif (params[:failed]) %>
  <div class="alert alert-danger" role="alert">
    It is unfortunate that you failed, please try again.
  </div>
<% elsif (params[:contract_created]) %>
  <div class="alert alert-success" role="alert">
    Signature request has been sent to user
  </div>
<% end %>
