<h1>CompanyProfiles#index</h1>
<br>
<%= link_to "Create", new_company_profile_path(@company_profiles) %><br>
<% if @company_profiles.any? %>
  <% @company_profiles.each do |company_profile| %>
    <%= company_profile.id %>.
    Company Name: <%= company_profile.name %>
    <%= link_to "View", company_profile_path(company_profile) %><br>
  <% end %>
<% else %>
  <p>No company profiles yet.</p>
<% end %>
<br>
