<% if current_user.admin? %>
  <div class="container">
    <br>
    <h1>Review Companies</h1>
    <hr>
    <%= render "owner_index", company_profiles: @company_profiles %>
  </div>
<% else %>
  <div class="container">
    <br>
    <h1>My Companies</h1>
    <hr>
    <%= render "applicant_index", company_profiles: @company_profiles %>
  </div>
<% end %>
