<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="bg-white rounded p-3 shadow">
        <h1>Create a new company</h1>
        <%= render 'form', check: @company_profile%>
      </div>
    </div>
  </div>
</div>
