<% if current_user.admin? %>
  <div class="container">
    <br>
    <h1>Manage Licences</h1>
    <%= render "owner_index", licences: @licences %>
    <hr>
  </div>
<% else %>
  <div class="container">
    <br>
    <h1>My Licences</h1>
    <hr>
    <%= render "applicant_index", licences: @licences %>
  </div>
<% end %>
