<div class="container"
     data-controller="hello-sign"
     data-hello-sign-contract-url-value="<%= @contract_url %>"
>
  <div data-hello-sign-target="confirmation">
    <h1>Signing in progress...</h1>
  </div>
  <%= link_to "Back", @licence, class: "btn btn-dark btn-sm", style: "border-radius: 0.25rem;" %>
</div>
