<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="bg-white rounded p-3 shadow">
        <h1>Edit Selected Franchise</h1>
          <%= render "franchises/form", profile: @franchise %>
      </div>
    </div>
  </div>
</div>
