<h1>Franchises#show</h1>

Name: <%= @franchise.name %><br>
Description: <%= @franchise.description %><br>
Website: <%= @franchise.url %><Br>
<br>
<%= link_to 'Edit', edit_franchise_path(@franchise), class: "btn btn-red" %>
